@font-face {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /* src: url(https://fonts.gstatic.com/s/righteous/v9/1cXxaUPXBpj2rGoU7C9WiHGF.woff2) format("woff2"); */
  src: url("./../fonts/Righteous-Regular.ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #000; */
  text-align: center;
  font-family: "Righteous";
  color: #fff;
  background-color: black;
}

a {
  text-decoration: none;
  color: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-svg {
  height: 6rem;
  width: 6rem;
}

.siteName {
  font-size: 2.5rem;
  color: #fff;
}

.header {
  position: sticky;
  top: 0;
  padding: 0 10%;
  /* background-color: rgb(47, 84, 113); */
  background-color: rgba(0, 0, 0, 1);
  color: white;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.nav {
  display: flex;
  cursor: pointer;
}

.navitem {
  padding: 0 1rem;
  text-decoration: none;
  color: rgb(219, 219, 219);
  font-size: 1.9rem;
}

.full-pg-nav {
  display: none;
}
.full-pg-nav-item {
  opacity: 0;
  color: #000;
  transition: all 0.2s linear;
}
.full-pg-nav-item.show:nth-child(1) {
  opacity: 1;
  transition: all 0.2s linear;
}
.full-pg-nav-item.show:nth-child(2) {
  opacity: 1;
  transition: all 0.2s linear 0.1s;
}
.full-pg-nav-item.show:nth-child(3) {
  opacity: 1;
  transition: all 0.2s linear 0.2s;
}
.full-pg-nav-item.show:nth-child(4) {
  opacity: 1;
  transition: all 0.2s linear 0.3s;
}
.full-pg-nav-item.show:nth-child(5) {
  opacity: 1;
  transition: all 0.2s linear 0.4s;
}
.full-pg-nav-item.show:nth-child(6) {
  opacity: 1;
  transition: all 0.2s linear 0.5s;
}
.full-pg-nav-item.show:nth-child(7) {
  opacity: 1;
  transition: all 0.2s linear 0.6s;
}

#welcome {
  height: 90vh;
  background-image: url("./../assets/img/development-cover_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border-radius: 50rem; */
  background-attachment: fixed;
  /* transition: all 1s linear; */
}

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

#profile-pic {
  height: 20rem;
  width: 20rem;
  margin: 3rem;
  border-radius: 50%;
}

#profile-about {
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-about-name {
  height: 4rem;
  margin: 2rem;
}

#links {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.link-item-img {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  margin: 10px;
  transition: all 0.2s ease-in-out;
  /* filter: grayscale(70%); */
}
.link-item-img:hover {
  transform: scale(1.4);
  transition: all 0.2s ease-in-out;
}

#aboutMe {
  /* transform: translateY(-3rem); */
  text-align: center;
  /* background-color: #2f5471; */
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 10%;
}

#experience {
  /* transform: translateY(-3rem); */
  text-align: center;
  /* background-color: #2f5471; */
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10rem 25%;
}

#open-source {
  /* transform: translateY(-3rem); */
  text-align: center;
  /* background-color: #2f5471; */
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 10rem 25%;
}

#projects {
  padding: 10%;
  background-color: rgb(242, 242, 242);
  color: #000;
}

#projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
  justify-items: center;
}

.project {
  /* background-image: url("./../assets/img/webdevelopment2.jpg"); */
  padding: 3rem;
}

.project-image {
  height: 20rem;
  width: 40rem;
  border-radius: 3rem;
  object-fit: cover;
}

button {
  transition: all linear 0.1s;
  margin: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.176rem;
  box-shadow: 0 0.235rem 0.471rem 0 rgba(0, 0, 0, 0.17),
    0 0.059rem 0.118rem 0 rgba(0, 0, 0, 0.07);
  color: #fff;
  background-color: #e6e6e6;
  border: solid 1px #e6e6e6;
  cursor: pointer;
  font-size: 1.7rem;
  color: black;
  font-family: inherit;
  border-radius: 9px;
}

button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

#tech {
  background-color: rgb(0, 0, 0);
  padding: 10rem 10%;
}

#tech-container {
  color: #000;
  justify-items: center;
  padding: 3rem;
  font-size: 1.5rem;
}

.tech-item {
  display: inline-block;
  border: solid 0.1rem white;
  border-radius: 4px;
  padding: 0.3rem 1.5rem;
  background-color: #fff;
  margin: 1.5rem 3rem;
}

#education {
  background-color: rgb(252, 252, 252);
  padding: 10rem 25%;
  color: #000;
}

.education-content,
.experience-content {
  padding: 3rem 1rem;
}

.education-name,
.experience-name {
  display: flex;
  justify-content: space-between;
}

.education-item,
.experience-item {
  padding: 3rem 0;
}

.education-content h5,
.experience-content h5 {
  text-align: left;
}

.hr-dark {
  border: 1px solid rgb(0, 0, 0);
  margin: 1rem 0;
}
.hr-light {
  border: 1px solid rgb(255, 255, 255);
  margin: 1rem 0;
}

footer {
  background-color: rgb(0, 0, 0);
  /* background-color: black; */
  padding: 3rem;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
}

.h1 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.5rem;
}

/* span {
  font-size: 1.5rem;
} */

@media (max-width: 1399px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1199px) {
  html {
    font-size: 55%;
  }
  /* .header {
    padding: 0 15rem;
  } */
  #projects-grid {
    padding: 5rem 0;
  }
}

@media (max-width: 1099px) {
  html {
    font-size: 55%;
  }
  #projects-grid {
    grid-template-columns: 1fr;
  }
  #education,
  #experience,
  #open-source {
    padding: 12rem 10%;
  }
  .nav {
    display: none;
  }
  .header {
    padding-right: 2%;
  }
  .full-pg-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    background: white;
    width: 100%;
    height: 120vh;
    clip-path: circle(10px at 95% -10%);
    -webkit-clip-path: circle(10px at 95% -10%);
    transition: all 1s cubic-bezier(0.17, 0.84, 0.44, 1);
  }
  .full-pg-nav.show {
    clip-path: circle(100% at 95% -10%);
    -webkit-clip-path: circle(90% at 95% -10%);
    transition: all 1s cubic-bezier(0.17, 0.84, 0.44, 1);
  }
  .navItem {
    margin: 3vh;
    color: #000;
    font-size: 2.5rem;
  }
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #fff;
  /* transition: all 0.5s cubic-bezier(0.17, 0.84, 0.44, 1); */
  clip-path: circle(0px at 50% 45%);
  -webkit-clip-path: circle(0px at 50% 45%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 4rem;
}

.loader.show {
  transition: all 1s cubic-bezier(0.17, 0.84, 0.44, 1);
  clip-path: circle(100% at 50% 45%);
  -webkit-clip-path: circle(100% at 50% 45%);
}

.loader.fade {
  opacity: 0;
}

.loader.dnone {
  display: none;
}

@media (max-width: 768px) {
  #welcome {
    background-attachment: scroll;
  }
  #profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10vh;
    flex-flow: column;
  }
  #links {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    margin: 0;
  }
  .link-item-img.upper-links {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
  #projects {
    padding: 12rem 0;
  }
  #aboutMe {
    padding: 12rem 0;
  }
  .project-image {
    width: 80vw;
    height: 30vh;
  }
  #tech {
    padding: 12rem 2%;
  }
  #education,
  #experience,
  #open-source {
    padding: 12rem 2%;
  }
  footer {
    font-size: 30%;
  }
  .link-item-img.lower-links {
    margin-left: 0;
    margin-right: 0;
  }
  footer .logo {
    display: block;
  }
}

/* @media(max-width: 500px) {
  .project {
    width: 90%;
    margin: auto;
  }
} */
