.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 0;
  font-size: 1.5rem;
  top: 0;
  transform: translate(-106%, 41%);
  text-transform: capitalize;
}

/* Show the tooltip text when you mouse over the tooltip container */
.school-app:hover .tooltiptext {
  visibility: visible;
}
