$transition: all 0.3s ease-in-out;
$black: hsl(0, 0%, 5%);

.button {
  border: 1px solid $black;
  padding: 0.5em 1.75em;
  margin: 1.25em .5em;
  cursor: pointer;
  position: relative;
  color: black;
  font-weight: 600;
  transition: $transition;
  z-index: 1;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: $black;
    background-color: $black;
    transition: $transition;
  }
  // &::after {
  //   content: '';
  //   position: absolute;
  //   z-index: -1;
  //   top: 50%;
  //   right: 0;
  //   width: 0%;
  //   height: 50%;
  //   color: $black;
  //   background-color: $black;
  //   transition: $transition;
  // }

  &:hover,
  &:focus {
    color: white;
    &::before {
      width: 100%;
    }
    &::after {
      width: 100%;
    }
  }
}
