.line {
  width: 30%;
  border: 1px solid;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.navItem:hover {
  .line {
    width: 100%;
  }
  .navitem {
    transform: scale(1.3);
  }
}
